Ignacio/esquema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="titulo_capitulo">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="npag"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="contenido" type="xs:string"/>
  <xs:element name="titulo" type="xs:string"/>
  <xs:element name="indice" type="xs:string"/>
  <xs:element name="capitulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="titulo_capitulo"/>
        <xs:element ref="contenido"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sinopsis" type="xs:string"/>
  <xs:element name="libro">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="titulo"/>
        <xs:element ref="indice"/>
        <xs:element ref="capitulos"/>
        <xs:element ref="sinopsis"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="tipo_clase"/>
      <xs:attribute type="xs:string" name="id_libro"/>
      <xs:attribute type="xs:short" name="npag"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="nrevista" type="xs:byte"/>
  <xs:element name="secciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="contenido" minOccurs="0"/>
        <xs:element ref="articulos" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="npagseccion" use="optional"/>
      <xs:attribute type="xs:string" name="tipo_seccion" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="revista">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="titulo"/>
        <xs:element ref="nrevista"/>
        <xs:element ref="indice"/>
        <xs:element ref="secciones"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="tipo_clase"/>
      <xs:attribute type="xs:string" name="id_revista"/>
      <xs:attribute type="xs:byte" name="npag"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="articulos">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="autor"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="periodico">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="indice"/>
        <xs:element ref="secciones"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id_periodicos"/>
      <xs:attribute type="xs:string" name="tipo_clase"/>
      <xs:attribute type="xs:string" name="fecha_salida"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="libros">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="libro"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="revistas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="revista"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="periodicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="periodico"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="documentos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="libros"/>
        <xs:element ref="revistas"/>
        <xs:element ref="periodicos"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>