Gemma/Schema.xml

<!--SCHEMA-->
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="biblioteca" type="bibliotecaType"/>
  <xs:complexType name="tipo_claseType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="clase_libro" use="optional"/>
        <xs:attribute type="xs:string" name="clase_periodico" use="optional"/>
        <xs:attribute type="xs:string" name="fecha_publicacion" use="optional"/>
        <xs:attribute type="xs:string" name="clase_revista" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="tipo_docType">
    <xs:sequence>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="tipo_claseType" name="tipo_clase"/>
      <xs:element type="xs:string" name="titulo" minOccurs="0"/>
      <xs:element type="xs:string" name="titulo_capitulo" minOccurs="0"/>
      <xs:element type="xs:string" name="titulo_revista" minOccurs="0"/>
      <xs:element type="xs:string" name="num_revista" minOccurs="0"/>
      <xs:element type="xs:string" name="indice" minOccurs="0"/>
      <xs:element type="xs:string" name="sinopsis" minOccurs="0"/>
      <xs:element type="xs:string" name="num_pag" minOccurs="0"/>
      <xs:element type="xs:string" name="capitulo" minOccurs="0"/>
      <xs:element type="xs:string" name="num_pag_capitulo" minOccurs="0"/>
      <xs:element type="seccionType" name="seccion" minOccurs="0"/>
      <xs:element type="xs:string" name="articulo" minOccurs="0"/>
      <xs:element type="xs:string" name="autor" minOccurs="0"/>
      <xs:element type="xs:string" name="informacion" minOccurs="0"/>
      <xs:element type="xs:string" name="num_pag_seccion" minOccurs="0"/>
      <xs:element type="contenidoType" name="contenido" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccionType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="tipo_seccion" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="contenidoType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="informacion" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="bibliotecaType">
    <xs:sequence>
      <xs:element type="tipo_docType" name="tipo_doc" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>